.idea
.venv
.env
./redisdata
./pos
__pycache__/
*.py[cod]
*$py.class
/redisdata/appendonlydir/appendonly.aof.1.base.rdb
/redisdata/appendonlydir/appendonly.aof.1.incr.aof
/redisdata/appendonlydir/appendonly.aof.manifest
/redisdata/dump.rdb
*.pyc
